@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.font-recoleta {
  font-family: 'Recoleta', serif;
}
.font-open-sans {
  font-family: var(--font-open-sans), sans-serif;
}
.font-mulish-bold {
  font-family: var(--font-mulish-bold), sans-serif;
  font-size: 17px;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial,'Recoleta', Helvetica, sans-serif;
}

